.main {
    margin-top: 20px;
}
@media (max-width: 991px) {
    .main {
        margin-top: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    /* CSS */
    .profile {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    .profile {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
    .profile {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
  }